<div id="native_plugin_loader_container">
  <video class="loader-img" loop autoplay preload muted inline>
    <source src="../assets/zoominfo-logo.mp4" type="video/mp4" >
  </video>
</div>
<span id="native_plugin_loader_container">
  <video class="loader-img" loop autoplay preload muted inline>
    <source src="../assets/small Z loader.mp4" type="video/mp4" >
  </video>
</span>
<span id="native_plugin_loader_container">
  <video class="loader-img" loop autoplay preload muted inline>
    <source src="../assets/small Z loader web.mp4" type="video/mp4" >
  </video>
</span>
<ng-lottie [options]="options"></ng-lottie>
